/**
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 */
.multiselect-wide .admin__control-multiselect
{
    min-width:24rem;
}

.form-element-border-top {
    border-top: 1px dashed #e6e6e6!important;
    padding-top: 40px!important;
    margin-top: 10px!important;
}

.rule-param a {
    font-weight: 600;
    text-decoration: underline;
}